<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">

    <!-- 첨부파일 기본 조회 쿼리 -->
    <sql id="attachmentFilesQuery">
        SELECT
            b.key as fileKey,
            b.metadata as fileMetadata,
            a.record_id,
            a.record_type,
            a.name
        FROM blobs b
        LEFT JOIN attachments a on a.blob_id = b.id
    </sql>

</mapper>