<!-- 기술 블로그 섹션 -->
<div class="flex flex-col justify-center items-center relative px-4 py-6 sm:py-10 bg-amber-50">
  <div class="relative z-10 text-center mb-4 sm:mb-16">
    <h2 class="text-3xl sm:text-4xl font-bold tracking-tight text-gray-800">
      기술 블로그
    </h2>
    <p class="mt-3 text-lg text-gray-600 max-w-xl mx-auto font-normal">
      기술 블로그라 우기고 있지만, 판단은 여러분의 몫입니다. ¯\_(ツ)_/¯
    </p>
  </div>

  <div class="w-full max-w-4xl mx-auto">
    <!-- 게시물 목록 -->
    <div class="relative z-10">
      <!-- 게시물 목록 - 그리드 형태 -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-12">
        <% @posts.each do |post| %>
          <%= render 'posts/card', post: post %>
        <% end %>
      </div>
    </div>

    <!-- 더 많은 글 보기 버튼 -->
    <div class="mt-12 relative z-10 text-center">
      <a href="/posts" class="inline-flex items-center justify-center border border-gray-300 text-gray-800 hover:border-primary hover:text-primary transition-colors px-6 py-2.5 rounded-md gap-2">
        <span>더 많은 글 보기</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </a>
    </div>
  </div>
</div>

