@layout.admin({ title: 'dev.goraebap admin | 태그 관리' })

  @layout.admin.tableBoard({
    currentUrl: '/admin/tags',
    pagination,
  })
    @slot('filterForm')
      <input type="text" name="search" value="{{ query('search') || '' }}" placeholder="태그명 입력" class="text-sm w-[150px]" />
    @end
    
    @slot('content')
      @!component('pages/admin/tags/_list', { tags })
    @end
  @end
@end
