<div class="relative flex flex-col items-center justify-center">
    <div class="mt-10">
        <canvas #canvas class="w-full"></canvas>
    </div>
    
    <!-- <div class="absolute bottom-0 left-0 z-10 items-center justify-center hidden w-full gap-20 pb-4 tablet:flex">
        <div>
            <kbd class="h-10 kbd font-arcade"><span class="mr-2 text-xs">상호작용 할 때</span>Space</kbd>
        </div>
        <div class="flex flex-col items-center justify-center gap-1">
            <div>
                <kbd class="kbd">↑</kbd>
            </div>
            <div class="flex gap-1">
                <kbd class="kbd">←</kbd>
                <kbd class="kbd">↓</kbd>
                <kbd class="kbd">→</kbd>
            </div>
        </div>
    </div> -->
</div>