<turbo-stream action="replace" target="replaceCommentFormTurboStreamTarget">
  <template>
    @!partials.comments.form({ postSlug, commentCount: comments?.length })
  </template>
</turbo-stream>
<turbo-stream action="replace" target="replaceCommentListTurboStreamTarget">
  <template>
    @!partials.comments.list({ comments })
  </template>
</turbo-stream>

