<turbo-stream action="replace" target="feedPostsFrame">
  <template>
    <div id="feedPostsFrame">
      @!component('pages/feed/posts/_list', { postsData })
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="tagListTurboStreamTarget">
  <template>
    @!component('pages/feed/tags/_list', { tags })
  </template>
</turbo-stream>
