@if(flash?.info)
  <div role="alert" class="alert alert-info">
    <span>{{ flash.info }}</span>
  </div>
@end

@if(flash?.success)
  <div role="alert" class="alert alert-success">
    <span>{{ flash.success }}</span>
  </div>
@end

@if(flash?.warning)
  <div role="alert" class="alert alert-warning">
    <span>{{ flash.warning }}</span>
  </div>
@end

@if(flash?.error)
  <div role="alert" class="alert alert-error">
    <span>{{ flash.error }}</span>
  </div>
@end
