<!-- turbo frame이 들어올 것을 기대하는 모달  -->
<dialog class="modal modal-bottom sm:modal-middle" data-modal-target="modalOverlay">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="modal#onClose">✕</button>
    </form>

    <turbo-frame id="modalContentFrame" data-modal-target="modalContentFrame">
      <div class="loading"></div>
    </turbo-frame>
  </div>
</dialog>