<div class="toast toast-bottom toast-center z-50" data-controller="toast">
  {{{ await $slots.main() }}}
</div>

{{-- @pushOnceTo('toastJs')
  <script defer>
    document.addEventListener("DOMContentLoaded", function() {
      window.Stimulus.register("toast", class extends window.StimulusController {
        connect() {
          setTimeout(() => {
            this.element.remove();
          }, 2e3);
        }
      });
    });
  </script>
@end --}}
