@if(seriesItem?.status === 'PENDING')
  <span class="badge badge-xs sm:badge-sm badge-warning">계획중</span>
@elseif(seriesItem?.status === 'PROGRESS')
  <span class="badge badge-xs sm:badge-sm badge-primary">연재중</span>
@else
  <span class="badge badge-xs sm:badge-sm badge-success">연재완료</span>
@endif
