<%= render 'shared/header', class: 'bg-amber-50' %>

<div class="w-full">
  <%= form_with model: @post, class: "[&_input]:w-full" do |form| %>
    <div class="w-full">
      <%= form.text_field :title, placeholder: "제목을 입력해 주세요.", class: "text-[3rem]" %>
    </div>

    <div>
      <%= form.rich_textarea :content, placeholder: "내용을 입력해 주세요." %>
    </div>
  <% end %>
</div>