<!DOCTYPE html>
<html lang="ko" data-theme="{{ currentTheme() || 'cupcake' }}">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "dev.goraebap 관리자" }}
    </title>
    <meta name="description" content="{{ description || 'dev.goraebap blog' }}" />

    {{-- Hotwired meta tag --}}
    <meta name="csrf-token" content="{{ csrfToken || '' }}" />

    <meta name="view-transition" content="same-origin" />

    {{-- 동적 메타데이터 슬롯 --}}
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    <link rel="stylesheet" href="/public/stylesheets/font.css" />
    <link rel="stylesheet" href="{{ viteAssetPath('src/style.css') }}" />
    <script src="{{ viteAssetPath('src/app.js') }}"
        type="module"
        defer>
      
    </script>

    {{-- 파비콘 --}}
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon" />
  </head>

  <body data-controller="modal">
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col min-w-3xl">

        {{-- 해더 --}}
        <header class="flex items-center h-[var(--header-height)] bg-base-100 w-full sticky top-0 z-10 border-b border-base-300">
          <div class="navbar max-w-7xl">
            <div class="flex-none lg:hidden">
              <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </label>
            </div>
            <div class="flex-1 flex items-center gap-4 mx-2 px-2">
              <figure>
                <a href="/admin" class="flex items-center gap-1">
                  <div class="w-12 h-12">
                    @!uikit.image({ url: '/public/images/logo.png', dominantColor: null })
                  </div>
                  <div class="leading-4 font-bold text-sm">
                    데브고래밥<br />
                    스튜디오
                  </div>
                </a>
              </figure>
            </div>
            <div class="">
              <ul class="flex gap-4">
                <li>
                  @!partials.admin.makeDropbox()
                </li>
                <li>
                  @!partials.themeDropbox()
                </li>
              </ul>
            </div>
          </div>
        </header>

        {{-- 메인 컨텐츠 --}}
        <main class="grow">
          <div class="max-w-7xl border-r border-base-300 h-full">
            {{{ await $slots.main() }}}
          </div>
        </main>
      </div>
      <div class="drawer-side z-20">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
        @!partials.admin.sidebar()
      </div>
    </div>

    @!uikit.modal()

    @uikit.toast()
      @!uikit.flash()
    @end
  </body>

</html>
